# This file is synced with stordco/common-config-elixir. Any changes will be overwritten.

name: Release

on:
  push:
    branches:
      - main

concurrency:
  group: release
  cancel-in-progress: false

jobs:
  Stable:
    runs-on: ubuntu-latest

    steps:
      - id: release
        name: Release
        uses: googleapis/release-please-action@v4
        with:
          config-file: .github/release-please-config-stable.json
          manifest-file: .github/release-please-manifest.json
          target-branch: main
          token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
